openapi: 3.0.1
info:
  title: Bulls Say / Bears Say API
  version: '1.0'
servers:
  - url: https://api.benzinga.com/api/v1
paths:
  /bulls_bears_say:
    get:
      summary: Get the latest bull and bear cases for a given ticker symbol.
      operationId: getBullsBearsSay
      parameters:
        - name: symbols
          in: query
          required: true
          description: Stock ticker symbol to query for bull/bear cases.
          schema:
            type: string
        - name: token
          in: query
          required: true
          description: Authentication token for the API access.
          schema:
            type: string
        - name: page
          in: query
          description: |-
            Page offset number.
          schema:
            type: integer
            default: 0
        - name: pagesize
          in: query
          description: Number of results to be returned. Limit 200
          schema:
            type: integer
            default: 100
            maximum: 200
        - name: parameters[updated]
          in: query
          description: Records last Updated Unix timestamp (UTC). This will force the
            sort order to be Greater Than or Equal to the timestamp indicated.
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: An array of bull and bear cases for the requested ticker symbol.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BullBearCase'
        '401':
          description: Authentication information is missing or invalid.
        '404':
          description: A bull/bear case for the provided ticker symbol was not found.
components:
  schemas:
    BullBearCase:
      type: object
      properties:
        bear_case:
          type: string
          description: Description of the bear case scenario.
        bull_case:
          type: string
          description: Description of the bull case scenario.
        id:
          type: string
          format: uuid
          description: Unique identifier for the bull/bear case.
        ticker:
          type: string
          description: Stock ticker symbol related to the bull/bear case.
        securities:
          type: array
          description: Company securities
          items:
            type: object
            properties:
              exchange:
                type: string
                description: Exchange on which the security is listed
              symbol:
                type: string
                description: Ticker symbol for the security
        updated:
          type: integer
          format: int64
          description: Timestamp of when the case was last updated.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token
security:
  - ApiKeyAuth: []