---
openapi: 3.0.1
info:
  title: Calendar v2.2
  description: "This REST API returns structured data for dividends v2.2"
  version: 2.0.0
servers:
- url: https://api.benzinga.com/api/v2.2
paths:
  /calendar/dividends:
    get:
      summary: Dividends Events
      description: Returns dividends data for a selected period and/or security.
      parameters:
      - name: accept
        in: header
        description: Specifies return format. Query parameters work the same for both
          formats.
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: page
        in: query
        description: |-
          Page offset.
          For optimization, performance and technical reasons, page offsets are limited from 0 - 100000.  Limit the query results by other parameters such as date.
        schema:
          type: integer
          default: 0
      - name: pagesize
        in: query
        description: Number of results returned. Limit 1000
        schema:
          type: integer
      - name: parameters[date]
        in: query
        description: Date to query for calendar data. Shorthand for date_from and
          date_to if they are the same. Defaults for latest.
        schema:
          type: string
          format: YYYY-MM-DD
      - name: parameters[date_from]
        in: query
        description: Date to query from point in time.
        schema:
          type: string
          format: YYYY-MM-DD
      - name: parameters[date_to]
        in: query
        description: Date to query to point in time.
        schema:
          type: string
          format: YYYY-MM-DD
      - name: parameters[tickers]
        in: query
        description: One or more ticker symbols separated by a comma. All calendars
          accept this parameter (not including the FDA endpoint; for the FDA endpoint,
          please use  "parameters[securities]" instead). Ignored by the Economics
          endpoint.   Maximum 50 tickers. Note that for the IPOs endpoint, new tickers
          may not return  results right away as we do not automatically link them
          to the underlying company's  data. Thus, to obtain the most recent rows
          from the IPOs endpoint, send queries  without this parameter specified.
        schema:
          type: string
          format: csv
      - name: parameters[importance]
        in: query
        description: The importance level to filter by. Uses Greater Than or Equal
          To the importance indicated
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
      - name: parameters[date_sort]
        in: query
        description: Dividend date field to sort on (newest to oldest)
        schema:
          type: string
          enum:
          - announced
          - ex
          - payable
          - record
      - name: parameters[updated]
        in: query
        description: Records last Updated Unix timestamp (UTC). This will force the
          sort order to be Greater Than or Equal to the timestamp indicated.
        schema:
          type: integer
          format: int64
      - name: parameters[dividend_yield_operation]
        in: query
        description: Specifies how to filter using dividend yield. gt = Greater Than,
          gte = Greater Than Equal, eq = Equal, lt = Less Than, lte = Less Than Equal
        schema:
          type: string
          enum:
          - gt
          - gte
          - eq
          - lte
          - lt
      - name: parameters[dividend_yield]
        in: query
        description: The dividend yield amount to filter by. Defaults to using Equal
          To the amount indicated. 1 =100%eater Than or Equal To’, ‘Equal To’, ‘Less
          Than or Equal To’, and ‘Less Than’ filters respectively.
        schema:
          type: number
          format: double
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  dividends:
                    type: array
                    items:
                      $ref: '#/components/schemas/dividends'
      security:
      - token: []
components:
  schemas:
    dividends:
      type: object
      properties:
        id:
          type: string
          description: Unique ID of this entry
        date:
          type: string
          description: Announced Date on calendar
          format: YYYY-DD-MM
        notes:
          type: string
          description: Additional notes provided by the Benzinga Newsdesk where applicable.
            Notes may include HTML.
        updated:
          type: integer
          description: Last updated timestamp, UTC
        ticker:
          type: string
          description: Ticker Symbol (F, MSFT, etc...)
        name:
          type: string
          description: Name of security
        exchange:
          type: string
          description: Exchange (NYSE, NASDAQ, etc...)
        currency:
          type: string
          description: Currency the data is denominated in
        confirmed:
          type: boolean
          description: If the dividend date is confirmed
        period:
          type: string
          description: Period of the dividend
          enum:
          - Q1
          - Q2
          - Q3
          - Q4
          - FY
          - H1
          - H2
        year:
          type: integer
          description: Period Year of the earnings actual
        frequency:
          type: integer
          description: Frequency of the dividend
        dividend:
          type: string
          description: Dividend value. Expected value is a double if set or empty
            if null.
          format: double
        dividend_prior:
          type: string
          description: Period prior dividend value. Expected value is a double if
            set or empty if null.
          format: double
        dividend_type:
          type: string
          description: Type of dividend
        dividend_yield:
          type: string
          description: Yield of dividend. Expected value is a double if set or empty
            if null.
          format: double
        ex_dividend_date:
          type: string
          description: Dividend Ex Date
          format: YYYY-DD-MM
        payable_date:
          type: string
          description: Dividend Payable Date
          format: YYYY-DD-MM
        record_date:
          type: string
          description: Dividend Recorded Date
          format: YYYY-DD-MM
        importance:
          type: integer
          description: Subjective basis of how important event is to market. 5 = high
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: query
