---
openapi: 3.0.1
info:
  title: Corporate Logos v1.1
  description: The Benzinga Corporate Logo API is designed to be flexible with client
    sizing requirements. Custom filters can be applied to resize the logos and each
    logo returns a variety of identifiers like ISIN and CUSIP.
  version: 1.1.0
servers:
- url: https://api.benzinga.com/api/v1.1
- url: http://api.benzinga.com/api/v1.1
paths:
  /logos:
    get:
      summary: Logos for market securities
      parameters:
      - name: accept
        in: header
        description: Specifies return format
        schema:
          type: string
          default: application/json
          enum:
          - application/xml (deprecated)
          - application/json
      - name: symbols
        in: query
        description: A list of ticker symbols separated by a comma (,). Limit 50 tickers
          per request.
        required: true
        schema:
          type: string
      - name: filters
        in: query
        description: A list of client-specific filters to be applied. Filters are
          separated by a comma (,).
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/logos'
            application/xml (deprecated):
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/logos'
      security:
      - token: []
components:
  schemas:
    logos:
      required:
      - files
      - security
      type: object
      properties:
        created:
          type: integer
          description: Created timestamp, UTC
          format: int64
        updated:
          type: integer
          description: Last updated timestamp, UTC
          format: int64
        files:
          $ref: '#/components/schemas/files'
        security:
          $ref: '#/components/schemas/security'
    security:
      required:
      - cik
      - exchange
      - name
      - symbol
      type: object
      properties:
        symbol:
          type: string
          description: Abbreviated name of listed security
        cik:
          type: integer
          description: Identifier of security
          format: int64
        name:
          type: string
          description: Name of security
        exchange:
          type: string
          description: Name of exchange the security is listed on
    files:
      required:
      - 90x60_grayscale
      - 90x60_white
      - original
      type: object
      properties:
        original:
          type: string
          description: URI of original file
        90x60_white:
          type: string
          description: URI of resized 90x60 logo, full color with a white or transparent
            background
        90x60_grayscale:
          type: string
          description: URI of resized resized 90x60 logo, grayscaled with a white
            or transparent background
        CUSTOM_FILTER:
          type: string
          description: One or most custom filters
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: query
