openapi: 3.0.1
info:
  title: Short Interest API
  description: |
    This API provides short interest data for stocks, including data such as total short interest, days to cover, and more.

    ### Best Practices
    For optimal performance, limit the query by using parameters such as `symbols`, `from`, `to`, and `pageSize`.

  version: 1.0.0
servers:
  - url: https://api.benzinga.com

paths:
  /api/v1/shortinterest:
    get:
      summary: Get short interest data
      description: |
        Retrieve short interest data for the specified symbols between a date range.
      parameters:
        - name: symbols
          in: query
          required: true
          description: One or more comma-separated ticker symbols (e.g., TSLA,AAPL)
          schema:
            type: string
            format: csv
        - name: finraReport
          in: query
          required: false
          description: If true, includes additional FINRA-related short interest data.
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          required: false
          description: Page number for paginated results (starts from 0).
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          required: false
          description: Number of results per page.
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: from
          in: query
          required: false
          description: "The start date for querying short interest data (format: YYYY-MM-DD)."
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: false
          description: "The end date for querying short interest data (format: YYYY-MM-DD)."
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response with short interest data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  shortInterestData:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            type: object
                            properties:
                              recordDate:
                                type: string
                                format: date
                                description: The date of the short interest record.
                              symbol:
                                type: string
                                description: The stock symbol.
                              company:
                                type: string
                                description: The full name of the company.
                              totalShortInterest:
                                type: string
                                description: Total short interest shares.
                              daysToCover:
                                type: number
                                description: Number of days to cover.
                              shortPercentOfFloat:
                                type: number
                                description: Short interest as a percentage of the float.
                              shortPriorMo:
                                type: string
                                description: Short interest for the prior month.
                              percentChangeMoMo:
                                type: number
                                description: Month-over-month percentage change in short interest.
                              sharesFloat:
                                type: string
                                description: Number of shares in the float.
                              averageDailyVolume:
                                type: string
                                description: Average daily trading volume.
                              sharesOutstanding:
                                type: string
                                description: Total shares outstanding.
                              exchange:
                                type: string
                                description: The exchange on which the stock is listed.
                              sector:
                                type: string
                                description: The sector the company operates in.
                              industry:
                                type: string
                                description: The industry the company operates in.
                              exchangeReceiptDate:
                                type: string
                                format: date
                                description: The date the exchange received the short interest report.
                              settlementDate:
                                type: string
                                format: date
                                description: The settlement date for the short interest data.
        '400':
          description: Invalid request due to bad parameters.
        '401':
          description: Unauthorized request due to missing or invalid API key.
        '500':
          description: Internal server error.
      security:
        - token: [ ]

components:
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: query
